.App {
  text-align: center;
}

img.App-header-Logo {
  height: 12vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.filters {
  padding: 5vh 0;
}
